{% extends "base.jinja" %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
    <a class="action" href="{{ url_for('new_contact') }}">Add record</a>
    <a class="action" href="{{ url_for('search') }}">Search</a>
{% endblock %}

{% block content %}
<article class="post">
  <table width="100%" ID="Table2" style="margin: 0px;" class = "tbl">
  <tr>
            <th class = "cell">Name</th>
            <th class = "cell">Phone</th>
            <th class = "cell">Email</th>
            <th class = "cell">Birthday</th>
            <th class = "cell">Note</th>
      </tr>
  {% for id, contact in contacts.items() %}
      <tr>
            <td class = "cell"><a class="action" href="{{ url_for('contact', contact_id=id) }}">{{ contact }}</a></td>
            <td class = "cell">{{ contact.get_phone() }}</td>
            <td class = "cell">{{ contact.get_mail() }}</td>
            <td class = "cell">{{ contact.get_birthday() }}</td>
            <td class = "cell">{{ contact.get_note() }}</td>
      </tr>
  {% endfor %}
  </table>
</article>
{% endblock %}