{% extends "base.jinja" %}

{% block header %}
  <h1>{% block title %} Edit record {% endblock %}</h1>
    <a class="action" href="{{ url_for('delete_contact', contact_id=contact_id) }}"> Delete record </a>
{% endblock %}

{% block content %}
<article class="post">
    <form method="post">
    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        {% for idx, field in contact %}
          <tr>
            <th>{{ field.field_description }}</th>
            <th>
                    <input name="idx" type="hidden" value="{{ idx }}" required>
                    <input name="type" type="hidden" value="{{ field.field_description }}" required>
                    <label>
                        <input name="value" value="{{ field.value }}" required>
                    </label>
            </th>
              <th>
                  <a href="{{ url_for("delete_field", contact_id=contact_id, field_index=idx) }}">
                      Delete
                  </a>
              </th>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save">
    </form>
<form method="post">
  <label for="type">Choose field type</label>
  <select name="type" id="type">
      {% for field in fields %}
        <option value="{{ field }}">{{ field }}</option>
      {% endfor %}
  </select>
{#  <br><br>#}
    <label><input name="value" value="" required></label>
  <input type="submit" value="Add">
</form>
</article>
{% endblock %}