{% extends "base.jinja" %}

{% block header %}
  <h1>{% block title %} Search {% endblock %}</h1>
{% endblock %}

{% block content %}
<article class="post">
    <form method="post">
    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <th><label><input name="field" type="hidden" value="all"></label>For all fields</th>
            <th><label><input name="value"></label></th>
        </tr>
        {% for field in fields %}
          <tr>
            <th><label><input name="field" value="{{ field }}"></label></th>
            <th><label><input name="value"></label></th>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Search">
    </form>
</article>
{% endblock %}